@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Väderdata+</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-4">

        KOMPONENT UNDER ARBETE
        <component type="typeof(Components.SaveLast25DaysWeatherForCity)" render-mode="Static"/>


            @*<div class="card mb-3">
                <form method="post" asp-page-handler="SaveWeatherData">
                    <div class="card-body">
                        <div class="card-header text-center mb-4">
                            <h3>Infoga väderhistorik</h3>
                            <small>Data för senaste 25 dagarna</small>
                        </div>
                        <select style="width:100%" name="City">
                            @foreach (var city in Model.Cities)
                            {
                                <option value="@city">@city</option>
                            }
                        </select>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Spara data</button>
                    </div>
                </form>
            </div>*@


            <div class="card">
                <form method="post" asp-page-handler="ShowWeatherDataForCity">
                    <div class="card-body">
                        <div class="card-header text-center mb-4">
                            <h3>Visa väderdata</h3>
                            <small>Välj stad för att visa väderdata</small>
                        </div>
                        <select style="width:100%" name="City">
                            @foreach (var city in Model.Cities)
                            {
                                <option value="@city">@city</option>
                            }
                        </select>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Visa väderdata</button>
                    </div>
                </form>
            </div>

    </div>
    <div class="col-md-8">
        <div class="row">

        </div>
        <div class="row">
            <component type="typeof(Components.CityWeather)" render-mode="Static" param-City='@Model.City' />
        </div>
    </div>
</div>